/*----- global/default settings -------------------------*/
    * {                               /*white space reset*/
        margin: 0;
        padding: 0;
    }


    html {     /*sets screen and css pixels roughly equal*/
        font-size: 10px;
    }


    article,             /*I don't agree with this format*/
    body,
    div,
    footer,
    header,
    main,
    nav,
    section {
        box-sizing: border-box;
    }


    /*----- color reference -------------------------------

        # Dark grey (text): #333
        # mid grey 1 (text): #424242
        # Dark Blue (links): #000066
        # Mid Blue (): #339
        # Light blue (): #CCCCFF
        # light grey(): #666
        # off white (background): #fdfdfd
    */


/*----- common ------------------------------------------*/

    body {
        background: #fdfdfd;
        color: #424242;
        font-family: "Fira Sans", sans-serif;
        font-size: 100.01%;
        max-width: 960px;
        padding: 1em;


    }

    .hr-line {
        background: #666;
        height: 2px;
        margin: 5px 0 5px;
        width: 100%;
    }


/*----- grid components ---------------------------------*/

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    min-width: 300px;
    width: 100%;
    /*padding: 0 1em 0;*/
    display: inline-grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}


.grheader-logo {
    grid-column: 1/3;
    grid-row: 1;
}

.grheader-name {
    grid-column: 4/12;
    grid-row: 1;
            margin-bottom: auto;
        margin-left: auto;
        text-align: right;
}

.grheader {
    grid-column: 1/-1;
    grid-row: 1;
    display: inline-grid;
}

.grheader-hr {
    grid-column: 1/12;
    grid-row: 2;

}

.grmain {
    grid-column: 1/-1;
    grid-row: 2/6;
    display: inline-grid;
}

.grmain-title {
    grid-column: 1/-1;
    grid-row: 2;

}

.grmain-hero {
    grid-column: span 12;
    grid-row: 1;
    /*display: inline-grid;*/
}

.grmain-hero-article {
    grid-column: 1/-1;
    grid-row: 4;
}

.grmain-hr {
    grid-column: 1/-1;
    grid-row: 5;
}


.grnav {
    grid-column: 1/-1;
    grid-row: 6;
    display: inline-grid;
    grid-gap: 10px;
}

.grfooter {
    grid-column: 1/-1;
    grid-row: 7/8;
}


.nav-col-sm {
    grid-column: span 12;
}

/*.nav-col-md {
    grid-column: span 6;
}

.nav-col-lg {
    grid-column: span 3;
}*/

.hero-main {
  /*float: left;*/
  /*width: 480px;*/
  /*max-width: 50%;*/
  /*max-height: 50%;*/
  /*height: auto;*/
  /*display: flex;*/
  position: relative;
  background-image: url(../img/logo_lg.png) ;
  background-size: cover;
  height: 100%;
  /*width: 100%;*/
  /*min-height: 30vh;*/
}

.main-article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  color: #fff;
  padding: 0.5em;
  text-align: left;
  /*font-size: 2em;*/
}

.main-article h1 {
    font-size: 2em;
    /*padding: 0.5em;*/
}

.main-article p {
    font-size: 1.5em;

}

.hero-tile {
      position: relative;
 background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 30vh;
}

.hero-jdtech {

  background: url(../img/jdtech_lg.jpg) ;

}

.hero-tech-proj {

  background: url(../img/tech_projects_sm.jpg) ;

}

.hero-webdev {

  background: url(../img/web_dev_sm.jpg) ;

}

.hero-community {

  background: url(../img/comm_srvc_sm.jpg) ;

}

.hero-office {

  background: url(../img/office_sm.jpg) ;

}

.hero-portfolio {

  background: url(../img/logo_sm.png) ;

}




.nav-article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  color: #fff;
  /*padding: 1em;*/
  text-align: center;
  font-size: 2em;


}













/*----- header ------------------------------------------*/

    .header-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .logo-box {
        width: 33%;
    }

    .logo {
        margin-bottom: auto;
        max-width: 100%;
    }

    .my-name {
        font-size: 5vmax;
        font-weight: 100 ;
        letter-spacing: 2px;
    }

    .my-title {
        font-size: 1.5em;
        font-weight: 100;
    }

    .name-box {
        margin-bottom: auto;
        margin-left: auto;
        text-align: right;
        width: 67%;
    }


/*----- main -------------------------------------------*/

    .main-pic {
        max-width: 100%;
    }

    .content {
        font-size: 2em;
        margin: 5px 0 5px;
    }


/*----- navigation --------------------------------------*/

    .nav-title {
        color: #666;
        font-size: 3em;
        text-align: center;
        /*margin: 0 0 5px;*/
    }

    .nav-box {
        display: flex;
        flex-wrap: wrap;
        font-size: 2em;
        justify-content: space-around;
        width: 100%;
    }

    .nav-tile {
        min-width: 200px;
        padding: 5px;
        /*width: 33%;*/
        max-width: 100%;
    }

    .grnav a:link,
    .grnav a:visted,
    .nav-tile a:link,
    .nav-tile a:visited {
        color: #424242;
        text-decoration: none;
    }

    .grnav a:hover,
    .nav-tile a:hover {
        color: #339;
    }
    .nav-link {
        /*font-size: 2em;*/
    }
    .nav-link a:link,
    .nav-link a:visited {

        color: #424242;
        text-decoration: none;


    }
    .nav-link a:hover {
        color: #339;
    }


    .nav-pic {
/*        justify-content: center;
        margin-left: auto;
        width: auto;*/

        display: inline-block;
        max-width: 100%;
        height: auto;
    }


/*----- footer ------------------------------------------*/

    .footer-text {
        font-size: 1em;
        text-align: center;
    }


/*----- media breaks ------------------------------------*/

    @media screen and (max-width: 480px) {
        .my-name {
            font-size: 4vmax;
        }
        .my-title {
            font-size: 1.25em;
        }
    }

    /*@media screen and (max-width: 635px) {
        .nav-tile {
            width: 100%;
        }
    }

    @media screen and (min-width: 636px) and (max-width: 934px) {
        .nav-tile {
            width: 50%;
        }
    }*/

    @media (min-width: 540px) {
        .nav-col-md {
            grid-column: span 6;
        }
    }

    @media (min-width: 800px) {
        .nav-col-lg {
            grid-column: span 4;
        }
    }



    }