/*----- global/default settings -------------------------*/
    * {                               /*white space reset*/
        margin: 0;
        padding: 0;
    }


    html {     /*sets screen and css pixels roughly equal*/
        font-size: 10px;
    }


    article,
    body,
    div,
    footer,
    header,
    main,
    nav,
    section {
        box-sizing: border-box;
    }


    /*----- color reference -------------------------------

        # Dark grey (text): #333
        # mid grey 1 (text): #424242
        # Dark Blue (links): #000066
        # Mid Blue (): #339
        # Light blue (): #CCF
        # light grey(): #666
        # off white (background): #fdfdfd
    */


/*----- common ------------------------------------------*/

    body {
        background: #fdfdfd;
        color: #424242;
        font-family: "Fira Sans", sans-serif;
        font-size: 100.01%;
        max-width: 960px;
        padding: 1em;
    }

    .hr-line {
        background: #666;
        height: 2px;
        margin: 5px 0 5px;
        width: 100%;
    }

    .container {
        display: inline-grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
        max-width: 980px;
        min-width: 300px;
        width: 100%;
    }


/*----- header ------------------------------------------*/

     .header-grid {
        display: inline-grid;
        grid-column: 1/-1;
        grid-row: 1;
    }

    .header-logo {
        grid-column: 1/3;
        grid-row: 1;
    }

    .header-name {
        grid-column: 4/12;
        grid-row: 1;
        text-align: right;
    }

    .header-hr {
        grid-column: 1/12;
        grid-row: 2;
    }
    .logo {
        max-width: 25vmax;
    }

    .my-name {
        color: #666;
        font-size: 5vmax;
        font-weight: 100 ;
        letter-spacing: 2px;
    }

    .my-title {
        color: #666;
        font-size: 1.5em;
        font-weight: 100;
    }


/*----- main -------------------------------------------*/

    .main-grid {
        display: inline-grid;
        grid-column: 1/-1;
        grid-row: 2/6;
    }

    .main-img {
        padding-top: 10px;
        width: 100%;
    }

    .main-section {
        grid-column: span 12;
        grid-row: 2/4;
    }

    .main-article {
      background-color: rgba(0, 0, 0, 0.7);
      box-sizing: border-box;
      color: #fdfdfd;
      grid-column: span 12;
      grid-row: 1;
      height: auto;
      padding: 0.5em;
      text-align: left;
      width: 100%;
    }

    .main-article h2 {
        font-size: 2em;
    }

    .main-article p {
        font-size: 1.5em;
    }

    .main-article a {
        text-decoration: none;
        color: #CCF;
    }

    .main-hr {
        grid-column: span 12;
        grid-row: 4;
    }

/*----- navigation --------------------------------------*/

     .nav-grid {
        display: inline-grid;
        grid-column: 1/-1;
        grid-gap: 10px;
        grid-row: 6;
    }

    .nav-col-sm {
        grid-column: span 12;
    }

    .nav-title {
        color: #666;
        font-size: 3em;
        text-align: center;
    }

    .nav-tile {
        background-size: cover;
        height: 100%;
        min-height: 30vh;
        position: relative;
        width: 100%;
    }

    .nav-jdtech {
        background-image: url(../img/jdtech_sm.jpg) ;
    }

    .nav-tech-proj {
        background-image: url(../img/tech_projects_sm.jpg) ;
    }

    .nav-webdev {
        background-image: url(../img/web_dev_sm.jpg) ;
    }

    .nav-community {
        background-image: url(../img/comm_srvc_sm.jpg) ;
    }

    .nav-office {
        background-image: url(../img/office_sm.jpg) ;
    }

    .nav-portfolio {
        background-image: url(../img/logo_sm.png) ;
    }

    .nav-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        bottom: 0;
        box-sizing: border-box;
        color: #fff;
        font-size: 2em;
        line-height: 1.5em;
        height: 17%;
        position: absolute;
        text-align: center;
        width: 100%;
    }


/*----- footer ------------------------------------------*/

   .footer-grid {
        grid-column: 1/-1;
        grid-row: 7/8;
    }

    .footer-text {
        font-size: 1em;
        text-align: center;
    }


/*----- media breaks ------------------------------------*/

    @media screen and (max-width: 480px) {
        .my-name {
            font-size: 4vmax;
        }

        .my-title {
            font-size: 1.25em;
        }

      .logo {
            max-width: 22vmax;
        }
    }

    @media (min-width: 540px) {
        .nav-col-md {
            grid-column: span 6;
        }
    }

    @media (min-width: 800px) {
        .nav-col-lg {
            grid-column: span 4;
        }
    }